.artist {
  margin-bottom: 10px;
}

.input-search {
  margin-bottom: 5px;
}

.artist-info-all {
  float: left;
  padding-left: 20px;
}

.artist-info {
  display: block;
}

.artist-info-group {
  display: block;
}

.artist-info-group-left {
  display: inline-block;
  width: 250px;
}

.artist-page-label {
  float: left;
  font-weight: bold;
  padding-right: 5px;
}

.artist-info-group-right{
  display: inline-block;
}

.artist-info-label {
  display: inline-block;
  font-weight: bold;
}

.artist-info-value {
  display: inline-block;
  padding-left: 5px;
}

a.artist-info-value {
  display: block;
  padding-left: 5px;
  width: 700px;
}
