
<input class="input-search" (keyup)="debounce.next($event.target.value)" type="text" placeholder="Artist Name">

<ul>
  <li *ngFor="let artist of artists" class="artist">
    <div class="artist-info-group">
      <div class="artist-info-group-left">
        <label class="artist-info-label">Name: </label>
        <label class="artist-info-value">{{ artist.artistName }}</label>
      </div>

      <div class="artist-info-group-right">
        <label class="artist-info-label">Type: </label>
        <label class="artist-info-value">{{ artist.primaryGenreName }}</label>
      </div>
    </div>

    <div class="artist-info-group">
      <div>
        <label class="artist-page-label">Artist Page: </label>
        <a class="artist-info-value" href="{{ artist.artistLinkUrl }}">{{ artist.artistLinkUrl }}</a>
      </div>
    </div>
  </li>
</ul>
