.track-image {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  border-radius: 50%;
  float:left;
}

.input-search {
  margin-bottom: 5px;
}

.track-info-all {
  float: left;
  padding-left: 20px;
}

.track {
  display: block;
  clear: left;
  height: 80px;
}

.track-info {
  display: block;
}

.track-info-group {
  display: block;
}

.track-info-group-left {
  display: inline-block;
  width: 350px;
}

.track-info-group-right{
  display: inline-block;
}

.track-info-label {
  display: inline-block;
  font-weight: bold;
}

.track-info-value {
  display: inline-block;
  padding-left: 5px;
}
