
<input class="input-search" (keyup)="debounce.next($event.target.value)" type="text" placeholder="Track Name">

<div *ngFor="let track of tracks" class="track">
  <div class="track-image" [ngStyle]="{'background-image': 'url(' + track.artworkUrl60 + ')'}">...</div>
  <div class="track-info-all">
    <div class="track-info-group">
      <div class="track-info-group-left">
        <label class="track-info-label">Song: </label>
        <label class="track-info-value">{{ track.trackCensoredName }}</label>
      </div>

      <div class="track-info-group-left">
        <label class="track-info-label">Time: </label>
        <label class="track-info-value">{{ track?.trackTimeMillis | miliTime }}</label>
      </div>
    </div>

    <div class="track-info-group">
      <div class="track-info-group-left">
        <label class="track-info-label">Album: </label>
        <label class="track-info-value">{{ track.collectionName }}</label>
      </div>

      <div class="track-info-group-left">
        <label class="track-info-label">Track Number: </label>
        <label class="track-info-value">{{ track.trackNumber }}</label>
      </div>
    </div>

    <div class="track-info-group">
      <div class="track-info-group-left">
        <label class="track-info-label">Release Date: </label>
        <label class="track-info-value">{{ track.releaseDate | date}}</label>
      </div>

      <div class="track-info-group-left">
        <label class="track-info-label">Price: </label>
        <label class="track-info-value">{{ track.trackPrice | currency}}</label>
      </div>
    </div>
  </div>
</div>
