<div class="topnav">
  <div class="logo"></div>
  <ul>
    <li class="menu-option" routerLink="/track-search">Search a Track</li>
    <li class="menu-option" routerLink="/artist-search">Search an Artist</li>
    <li class="menu-option" routerLink="/about">About</li>
  </ul>
</div>
