.topnav {
  background-color: aliceblue;
  margin-bottom: 10px;
  height: 40px;
  overflow: hidden;
}

.logo {
  float: left;
  background: url("../../assets/logo.jpg") no-repeat;
  width: 100px;
  height: 100px;
}

.topnav li {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.menu-option {
  width: 140px;
  font-weight: bold;
  font-size: large;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav li:hover {
  background-color: #ddd;
  color: black;
}
